/** Custom **/
body {
  font: 16px/28px 'PT Sans', sans-serif;
  color: #333; background: url('/images/bg.png'); text-rendering: optimizelegibility; text-shadow: 0 1px 0 #fff;
 }

a,a:visited,a:active {
  color: #4da3a3;
  text-decoration: none;
}
a:hover {
  color: #222;
}
strong { font-weight: bold; ;}

.post .body a {
  text-decoration: none;
  border-bottom: 1px solid #9B7203;
  color: #cc9604;
}
.post .body a:hover {
  color: #727272;
  border: none;
}
.post .body a img {
  border: none;
}

h1 {
  font-size: 36px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #555;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
h1 a:link, h1 a:visited { color: #555; }
h1 a:hover { color: #777; }
h2 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 22px;
}
h3 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

p {
  margin:0 0 1.0em;
}

ul,ol {
  margin:0 0 1em;
  padding-left:2.5em;
}
blockquote {
  border-left:2px solid #555;
  color: #555;
  margin:0 1em 1.5em;
  padding:0 1em;
}

#content ul {
  padding-left: 0;
  margin-left: 20px;
  list-style-type: none;
}
#content li {
  padding-left: 22px;
  background: url('/images/marker.png') no-repeat;
  background-position: 0 0.5em;
}

.video { margin:0 0 1.0em; }

#header {
}
#footer {
  width: 100%;
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: bold;
  text-align:center;
  color: #4da3a3;
}
#footer a { color: #cc9604; }
#footer a:hover { color: #727272; }
#footer .blue { color: #4da3a3; }
#footer a:hover .blue  { color: #727272; }

#sidebar {
  float: right;
  width: 150px;
  background: #fff;
  padding: 5px;
  text-align: right;
}
#sidebar p {
  font: 15px/18px 'PT Sans', sans-serif;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar li {
  padding: 5px 0;
  font-size: 1.3em;
  font-weight: bold;
}
#sidebar a {
  color: #cc9604;
  background-color: #FFF4DB;
  padding: 3px;
}
#sidebar a:hover {
  color: #727272;
  background-color: #eee;
}

#container {
  margin:0 auto;
  min-width:500px;
  width:660px;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  -moz-box-shadow: 0 0 15px #bbb;
  -webkit-box-shadow: 0 0 15px #bbb;
  box-shadow: 0 0 15px #bbb;
}

#content {
  width: 500px;
  text-align: left;
}

.post {
  margin-bottom: 25px;
}
.post img {
  margin: 5px 0;
}

.post-meta {
  font-size: 0.8em;
}